
.recentWork{
    margin: 100px auto;
    width: 700px;
    height: 50px


}
.recentWork-text{
    font-family: "Avenir",sans-serif;
    font-size: 7em;
    position: absolute;
    font-weight: bold;


}
#recentWork-1{
    color: #29aae1;
    z-index: -2;
    margin: 0 0 0 60px;
}

#recentWork-2{
    color: #fff;
    z-index: -1;
    margin:10px 0 0 50px;
}

#recentWork-3{
    color: #ff5f6b;
    z-index: 0;
    margin:20px 0 0 40px;
}
.aboutMe{
  margin: 0 auto;
  padding: 100px 0;
  width: 30%;
  color: #fff;
}

.aboutMe p{
    font: 14px "Avenir",sans-serif;
    font-size: 1.2em;
}

.aboutMeImg{
  text-align: center;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0 0 10px 1px #111;
  background-color: black;
  margin: 200px auto 0 auto;
  overflow: hidden;

}
.aboutMeImg img{

  width: 510px;
  height: 510px;
}
