
.container{

    margin: 20% auto;
    text-align: center;
    width: 50%;
    color: #fff;

}
.contactItems h1{
  font:1.7em "Avenir", sans-serif;
  text-align: left;
  font-size: 1.7em;
  padding: 10px;
}
.contactItems p{
  font:1.2em "Avenir", sans-serif;

  text-align: left;
  padding: 10px;
}
strong{
  font:1.2em "Avenir", sans-serif;
  font-weight: bold;
}

.container button{
  margin: 20px auto;
  background: #000;
  border: 3px solid #fff;
  color: #fff;
  padding: 10px 25px;
}
.container button:hover{
  background: #fff;
  color: #000;
}

.socialMedia img{
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  width: 20px;
  height: 20px;
  padding: 10px;
  text-align: center;
}
.socialMedia img:hover{
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.footer{
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  color: #fff;

}
.footer p{
  font-size: 0.7em;
}
