
.imageContainer{

    width: 500px;
    height: 500px;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px #111 ;
    background-color: black;

    margin:100px auto 0 auto;
    overflow: hidden;
}

.imageContainer:hover{
    /*figure this out*/
    transform: scale(1.1);
    transition: transform 500ms;
}

.mainImage{
    width: 510px;
    height: 510px;
}
.name{
    color: #fff;
    font-family: "Futura", sans-serif;
    font-size: 80px;
    padding: 0;
    margin: 10px auto;
}
.main p{
  padding-bottom: 10px;
}
.buttons{
    text-align: center;
}
a{
    text-decoration: none;
}
.homePageBtn{
    display: inline-block;
    margin-top: 20px;

}
.buttons-primary{
    border-bottom: 0px solid #fff;
    padding: 5px 0;
    margin: 0 10px;
    width: 200px;
    font-family: Futura, sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-transform: lowercase;

}
.first-button{
    margin-right:10px;
}
.buttons-primary:hover{
    border-bottom: 2px solid #fff;
}
.buttons-primary:active{
    border-bottom: 2px solid #fff;
}
.smallDesc{
    color: white;
    font-size: 20px;

}
.main{
    text-align: center;

}
