
.mainContainer img{
  width: 100%;
  height: auto;
  padding: 0 0 40px 0;
}

h2{
  font-size: 1.5em;
  padding: 40px 0 40px 0;
}
p{
  padding: 0 0 40px 0;
  font-size: 1.1em;
}
.button{
  margin: 0 auto;
  text-align: center;
}
