 <div class="recentWork">
        <div class="recentWork-text" id="recentWork-1">siddhant shah</div>
        <div class="recentWork-text" id="recentWork-2">siddhant shah</div>
        <div class="recentWork-text" id="recentWork-3">siddhant shah</div>
    </div>
    <div class="aboutMeImg">
        <img src="img/headerImage.jpg">
    </div>
    <div class="aboutMe">
        <p>Bombay transplant, self-taught UI Designer/Developer, eccentric digital artisan.
            Curious about new technology and collaborative in art and experience.
            Enjoys coding challenges, tacos, and modern furniture.
        </p>
        <p>Siddhant looks for social narratives in the art he personally
            curates and believes in the work of Don Hertzfeldt as the zeitgeist.
            Filmmaking is an outlet for his wandering mind, and he hopes to transform audiences with his eccentric style.
        </p>
    </div>