<div class="mainContainer">
    <button ng-click="go('/work')" class="backToWork">&lt; Work</button>
        <h1>Branding</h1>
        <hr>
        <h2>The Swaraj Project</h2>
        <p>The Swaraj Project is an urban farm in Rochester, NY that hopes to bridge the gap between our food and where it comes from. This was what gave the logo its shape. To stay true to the roots while also showing the growth by means of the flower.</p>
        <img class="images" src="img/tsp.jpg">
        <h2>SS Motors</h2>
        <p>
            SS Motors is a fictional car company that is producing vehicles like the SS01. A car company needs a logo that is simple but also long lasting and extremely recognizable in the world around us. One should look at this logo on a car and know that it was
            produced by SS Motors.
        </p>
        <img class="images" src="img/Car_logo_01.png">
        <h2>The NorSwegian Baker</h2>
        <p>
            This was a project undertaken to create the logo for a baking company called The NorSwegian Baker. The idea behind this being the baker is a very strong character but has a soft side for baking cupcakes.
        </p>
        <div class="bakerImg">
            <img id="norBaker" src="img/branding/norBaker.png">
        </div>
    </div>