
    <div class="mainContainer">
        <button ng-click="go('/work')" class="backToWork">&lt; Work</button>
        <h1>Game Design</h1>
        <hr>
        <h2>CPUATK - A Reverse Tower Defense Game</h2>
        <p>CPUATK was conceived from a prompt given to our team of game designers. The prompt suggested that we create a game using the idea of viruses and glitches that exist in real life. This was in conjunction to a dialogue that we were previously having
            about the book World War Z by Max Brooks.</p>
        <br>
        <p>Our idea behind making CPUATK was to create a reverse tower defense game where you as a player, would select waves of viruses to send out to attack the different components of the CPU. The player has the option to send out three different types
            of viruses that have a range of attack values, that change depending on the virus selected.</p>
        <br>
        <p>As the lead artist, I chose to go for a unique design style where the look and the feel of the game leaned towards a minimal style. The decision to go with this design scheme came from the idea that we didn"t want to represent the components of
            the CPU realistically. The idea of a minimal style involves the use of simplifying existing ideas of something. </p>
        <br>
        <p>The biggest challenge that we were faced with was to create all of the components using a very distinct style but to also make them recognizable and relatable to the player. The style we chose was to use a minimal white on all of the components,
            but to highlight the differences in each of them we used a distinct color, a color that was uniform with the function of the object. The towers were given a purple, and the targets a gold, so that they stood out to the player, knowing what
            was important in the game, setting a hierarchy. </p>
        <br>
        <img class="images" src="img/game_design.jpg">
        <p>The most difficult task was to visualize the computer virus, something which does not have visual property to. One of the directions we could have gone to was making the viruses look organic. Something that wouldn"t have necessarily fit our requirements
            for the game. I ended up choosing to create multiple viruses based on their descriptions and their abilities. Keeping the style uniform in terms of design and color and trying making sure they were a good representation of a virus.</p>

        <div class="viruses">
            <img  src="img/gamedes/virus_01.png">
            <img  src="img/gamedes/virus_02.png">
            <img  src="img/gamedes/virus_03.png">
        </div>
        <p>Creating towers was a straight forward approach, using existing components on the motherboard and adding our unified style according to the overall look of the game.</p>
        <div class="towers">
            <img src="img/gamedes/tower_01.png">
            <img src="img/gamedes/tower_02.png">
            <img src="img/gamedes/tower_03.png">
            <img src="img/gamedes/tower_04.png">
        </div>
        <p>The targets were supposed to be the most important components of the motherboard. These had to be highlighted accordingly and unified so that the player could distinctly identify them. We chose a gold highlight so that they stood out in the game.</p>
        <div class="objs">
            <img src="img/gamedes/ram.png">
            <img src="img/gamedes/HD.png">
            <img src="img/gamedes/cpu.png">
            <img src="img/gamedes/heatSink.png">
            <img src="img/gamedes/fan.png">
        </div>

        <h2>Zombie God - A Top Down Strategy Game</h2>
        <p>This was a game conceived from an idea that stemmed from the book World War Z by Max Brooks. The book spoke about a group of humans trying to escape a horde of zombies by trying to move up north, where it was much colder but it also meant that
            the zombies couldn"t reach the humans.</p>
        <br>
        <p>We as a team ran with this idea but turned it over its head. We chose to become the Zombie God. The objective of the game is to control hordes of zombies and try to kill or convert all of the humans on the map. </p>

        <img class="images" src="img/gamedes/designDoc.jpg">
        <p>As part of the design team, I was in charge of creating the background map for the game. I started off by creating individual tiles for the vast map. We soon noticed that this was an issue and that the map was not random enough. Thus we chose
            to procedurally generate maps based on creating quarter tiles, that could be assembled together to create a map that was different every time you played the game. This helped in making the map and terrain more believable and kept things interesting
            for the player.</p>
        <img class="images" src="img/gamedes/map.png">
    </div>