<div class="main">
    <div class="imageContainer">
        <img class="mainImage" src="img/headerImage.jpg" alt="Header image">
    </div>

    <h1 class="name">Siddhant Shah</h1>
        <p class="smallDesc">Eccentric digital artisan who welds classic flavors with modern nuances</p>
    <div class="buttons">
        <div class="homePageBtn">
            <a href="#work" class="viewWork buttons-primary first-button">work</a>
            <a href="#contact" class="about buttons-primary">contact</a>
        </div>
    </div>
</div>
