<div class="recentWork">
    <div class="recentWork-text" id="recentWork-1">recent work</div>
    <div class="recentWork-text" id="recentWork-2">recent work</div>
    <div class="recentWork-text" id="recentWork-3">recent work</div>
</div>
<hr id="rWSeparator">
<div class="workContainer">
  <div class="work">
      <img src="img/webdes/perspective%20Mockup.jpg">
      <div class="hiddenWrapper">
          <p class="title">UI/UX</p>
          <button ng-click=go('/webDes') class="viewWorkButton">
              view work
          </button>
      </div>
  </div>

    <div class="work">
        <img src="img/animation.jpg">
        <div class="hiddenWrapper">
        <p class="title">Animation</p>
        <button ng-click="go('/animation')" class="viewWorkButton">
            view work
        </button>
        </div>
    </div>
    <div class="work">
        <img src="img/knight.png">
        <div class="hiddenWrapper">
            <p class="title">#CottageCourage</p>
            <button ng-click="go('/cc')" class="viewWorkButton">
                view work
            </button>
        </div>
    </div>
    <div class="work">
        <img src="img/video_editing.jpg">
        <div class="hiddenWrapper">
            <p class="title">Editing</p>
            <button ng-click="go('/video')" class="viewWorkButton">
                view work
            </button>
        </div>
    </div>
    <div class="work">
        <img src="img/game_design.jpg">
        <div class="hiddenWrapper">
            <p class="title">Game</p>
            <button ng-click="go('/game')" class="viewWorkButton">
                view work
            </button>
        </div>
    </div>
    <div id="branding" class="work">
        <img src="img/tsp.jpg">
        <div class="hiddenWrapper">
            <p class="title">Branding</p>
            <button ng-click="go('/branding')" class="viewWorkButton">
                view work
            </button>
        </div>
    </div>
</div>